# Python

__pycache__/
*.py[cod]
*.pyo

# Virtual environments

venv/
.venv/
env/


# Environment variables / Secrets

.env
.env.*
!.env.example


# Jupyter

.ipynb_checkpoints/


# IDE

.vscode/
.idea/


# OS

.DS_Store
Thumbs.db

# Logs

*.log

# Airflow

logs/


# dbt

target/
dbt_packages/


# PostgreSQL

postgres_data/


# Data

data/raw/*
!data/raw/.gitkeep
!data/raw/sample.csv

data/processed/*
!data/processed/.gitkeep